USE [master]
GO
/****** Object:  Database [Quiz1]    Script Date: 2/19/2022 3:29:18 PM ******/
CREATE DATABASE [Quiz1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quiz1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Quiz1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quiz1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Quiz1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quiz1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quiz1]
GO
/****** Object:  Table [dbo].[T_TIPOCAMBIO]    Script Date: 2/19/2022 3:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TIPOCAMBIO](
	[CONSECUTIVO] [bigint] IDENTITY(1,1) NOT NULL,
	[COD_INDICADORINTERNO] [int] NOT NULL,
	[DES_FECHA] [datetime] NOT NULL,
	[NUM_VALOR] [decimal](18, 4) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InsertTipoCambio]    Script Date: 2/19/2022 3:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertTipoCambio]
	@Datos AS XML, 
	@Indicador AS INT
AS
BEGIN

	DELETE FROM T_TIPOCAMBIO WHERE COD_INDICADORINTERNO = @Indicador

	INSERT INTO T_TIPOCAMBIO(COD_INDICADORINTERNO,DES_FECHA,NUM_VALOR)
	SELECT t.c.value('COD_INDICADORINTERNO[1]','VARCHAR(500)'),
		   CAST(CONVERT(DATETIMEOFFSET, T.C.value('DES_FECHA[1]','VARCHAR(500)'),127) AS DATETIME),
		   t.c.value('NUM_VALOR[1]','VARCHAR(500)')
	FROM @Datos.nodes('/Datos_de_INGC011_CAT_INDICADORECONOMIC/INGC011_CAT_INDICADORECONOMIC') t(c)

END
GO
USE [master]
GO
